html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#6863af, #fcc6da);
  margin: 0;
  padding: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 23rem;
  height: fit-content;
  justify-content: center;
  background-color: #283e50;
  color: white;
  line-height: 1.5;
  margin: 0 auto;
}

img {
  width: 23rem;
}

.stred__nadpis {
  font-family: "Lobster", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding: 2rem;
}

.stred__odstavec {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding: 0 1rem 2rem 1rem;
}
