html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#6863af, #fcc6da);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 2em;
}

.flex-container {
  text-align: center;
  min-width: 280px;
  max-width: 30%;
  background-color: #283e50;
  color: white;
  line-height: 1.5;
  margin: 0 auto;
  border-radius: 10px 10px 0px 0px;
}

.hlavicka img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

img.kolecko,
img.krizek {
  display: inline-block;
  filter: invert(100%);
  width: 1em;
  height: 1em;
}

.stred__nadpis {
  font-family: "Lobster", sans-serif;
  font-size: 3em;
  font-weight: 600;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  padding: 0.5em;
}

.stred__odstavec {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 0 1em 2em 1em;
}

.paticka {
  text-align: center;
  padding: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0em;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

ol {
  padding: 0em 4em 2em 4em;
  margin: 0;
}

ol li {
  text-align: left;
  padding: 0.5em;
  line-height: 1.3;
}

a {
  display: inline-block;
  width: 100%;
  padding: 1em;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  margin: 0;
}

.paticka__pravidla,
.paticka__uvodni-stranka {
  background-color: #1fcca4;
  border-bottom: 1px solid #283e50;
}

.paticka__pravidla,
.paticka__uvodni-stranka a:hover {
  background-color: #1cbb96;
}

.paticka__zacni {
  background-color: #0197f6;
}

.paticka__zacni a:hover {
  background-color: #0090e9;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.8em;
  line-height: 1;
  margin-top: 10px;
}

.obrazek img {
  width: 100%;
}

@media (min-width: 540px) {
  .flex-container {
    max-width: 60vw;
  }
  .flex-obrazky {
    display: flex;
    flex-wrap: wrap;
    padding: 0.7em;
  }

  .obrazek {
    width: calc(100% / 2);
    display: flex;
    text-align: center;
    padding: 0em 0.7em;
  }

  figure {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .obrazek img {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .flex-container {
    max-width: 60vw;
  }
  .flex-obrazky {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.7em;
    margin: 0em 3em;
  }

  .obrazek {
    display: flex;
    text-align: center;
    padding: 0em 0.7em;
  }

  figure {
    flex-grow: 1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}
