html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(#6863af, #fcc6da);
  margin: 0;
  padding: 3rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 23rem;
  height: fit-content;
  justify-content: center;
  background-color: #283e50;
  color: white;
  line-height: 1.5;
  margin: 0 auto;
}
